Repository Claudio1786/Contract-IQ: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix"],
  "*.{json,md,css,scss,html}": ["pnpm exec prettier --write"]
}

feat(playbooks): Complete dark theme conversion with orange icon header
  apps/web/app/playbooks/page.tsx
Due: pnpm exec eslint --fix

feat: pivot landing page copy to negotiation-first positioning
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

feat: Complete Phase 2A app screens copy transformation for contract negotiation focus
  apps/web/app/alerts/page.tsx
  apps/web/app/analytics/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/chat/ChatInterface.tsx
  apps/web/components/layout/AppLayout.tsx
Due: pnpm exec eslint --fix

feat: Add core contract negotiation functionality (Phase 2B)
  apps/web/app/api/templates/[id]/route.ts
  apps/web/app/api/templates/route.ts
  apps/web/app/contracts/new/page.tsx
  apps/web/app/settings/templates/page.tsx
  apps/web/lib/upload.ts
  apps/web/prisma/schema.prisma
  apps/web/snapshots/contracts-phase-1a.html
  docs/UX-DESIGN-AUDIT-2025-11-20.md
  pr-body.md
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: Complete core contract negotiation functionality - Redline Analysis and APIs (Phase 2B complete)
  apps/web/app/api/contracts/analyze-redlines/route.ts
  apps/web/app/api/contracts/changes/[id]/decide/route.ts
  apps/web/app/contracts/[id]/redlines/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Add missing dependencies @supabase/supabase-js and pdf-parse for build
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix: Remove BOM character from Dashboard.tsx that was causing build failure
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Revert Dashboard.tsx and re-apply copy changes cleanly
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Revert Dashboard.tsx to main - no modifications
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Make Supabase upload optional to fix build error
  apps/web/lib/upload.ts
Due: pnpm exec eslint --fix

fix: Transform landing page to negotiation-focused messaging
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

fix: Remove manual entry page, restore document upload workflow
  apps/web/app/app/admin/contracts/new/page.tsx
  apps/web/app/page.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Update analytics page with professional copy
  apps/web/app/analytics/page.tsx
Due: pnpm exec eslint --fix

feat: Redesign dashboard as Negotiation Command Center
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

fix: Remove internal references from landing page
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

fix: Add lucide-react dependency for upload page icons
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

feat: Pain-point-led landing page copy rewrite
  apps/web/app/page-old.tsx
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

fix: Replace revenue-focused copy with negotiation positioning (layout preserved)
  apps/web/app/page-painpoint-full.tsx
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

feat: Update landing page to Customer Contract Intelligence Platform positioning
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

docs: Add v5.0 deployment configuration and product documentation
  docs/ENTERPRISE-WORKFLOW-TESTING.md
  docs/PRODUCT-ROADMAP-V5.md
Due: pnpm exec prettier --write

chore: Implement repository branch hygiene and best practices
  docs/GIT-BRANCH-STRATEGY.md
  scripts/branch-cleanup.ps1
  scripts/branch-cleanup.sh
Due: pnpm exec prettier --write

feat: Restore contract uptake workflow with v5.0 customer contract positioning
  apps/web/app/upload/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix
