Repository Claudio1786/Contract-IQ: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix"],
  "*.{json,md,css,scss,html}": ["pnpm exec prettier --write"]
}

feat(ai): upgrade Gemini to gemini-2.5-flash across web/API and add API URL env fallbacks (NEXT_PUBLIC_API_URL)
  apps/api/contract_iq/services/gemini.py
  apps/web/app/api/generate-playbook-multi-llm/route.ts
  apps/web/app/api/generate-playbook/route.ts
  apps/web/lib/agents/multi-llm-orchestrator.ts
  apps/web/lib/ai.ts
  apps/web/lib/contracts.ts
Due: pnpm exec eslint --fix

chore(ai): standardize agent orchestrator to gemini-2.5-flash
  apps/web/lib/agents/agent-orchestrator.ts
Due: pnpm exec eslint --fix

feat: Add exponential backoff retry logic with support UI for API errors
  apps/web/components/playbooks/EnhancedPlaybookGenerator.tsx
  apps/web/components/playbooks/PlaybookGenerator.tsx
  apps/web/lib/ai.ts
Due: pnpm exec eslint --fix

docs: Add comprehensive implementation documentation for API error handling
  docs/status/2025-11-15-api-error-handling-improvements.md
Due: pnpm exec prettier --write

fix: Add validation and error handling for scenario/objective mismatches
  apps/web/components/playbooks/PlaybookGenerator.tsx
Due: pnpm exec eslint --fix

feat: Add bulletproof multi-AI orchestrator with failover and validation
  apps/api/contract_iq/routers/ai.py
  apps/api/contract_iq/services/multi_ai_orchestrator.py
  apps/api/contract_iq/services/openai_client.py
  apps/api/tests/test_multi_ai_orchestrator.py
Due: none

fix: Update validation error handling in multi-AI orchestrator
  apps/api/contract_iq/services/multi_ai_orchestrator.py
  apps/api/tests/test_multi_ai_orchestrator.py
  apps/web/__tests__/playbook-generator.test.tsx
  apps/web/app/api/gmail/auth/route.ts
  apps/web/app/api/gmail/contracts/route.ts
  docs/QA-SUMMARY.md
  docs/bulletproof-architecture.md
  docs/qa-quick-reference.md
  docs/testing-strategy.md
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: Remove accidental Gmail API routes that broke build
  apps/web/app/api/gmail/auth/route.ts
  apps/web/app/api/gmail/contracts/route.ts
Due: pnpm exec eslint --fix

feat: Add comprehensive QA testing infrastructure with fixture library
  apps/api/tests/pipeline/test_contract_pipeline.py
  docs/qa/contract-demo-test-plan.md
  fixtures/contracts/README.md
  fixtures/contracts/dpa-gdpr.json
  fixtures/contracts/msa-standard.json
  fixtures/contracts/nda-simple.json
  fixtures/contracts/sow-consulting.json
Due: pnpm exec prettier --write

docs: Add Phase 1 completion summary
  docs/qa/QA-PHASE-1-COMPLETE.md
Due: pnpm exec prettier --write

feat(design): apply Flow AI dark aesthetic to Contract IQ
  apps/web/styles/components.css
  apps/web/styles/layout.css
  apps/web/styles/tokens.css
  apps/web/tailwind.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: add Flow AI design system implementation guide
  docs/design/FLOW-AI-DESIGN-IMPLEMENTATION.md
Due: pnpm exec prettier --write

docs: add boilerplate templates integration plan
  docs/templates/BOILERPLATE-INTEGRATION-PLAN.md
Due: pnpm exec prettier --write

feat: add 15 boilerplate contract templates
  fixtures/contracts/boilerplate/consulting-agreement.json
  fixtures/contracts/boilerplate/dpa-template.json
  fixtures/contracts/boilerplate/employment-agreement.json
  fixtures/contracts/boilerplate/license-agreement.json
  fixtures/contracts/boilerplate/msa-template.json
  fixtures/contracts/boilerplate/nda-template.json
  fixtures/contracts/boilerplate/partnership-agreement.json
  fixtures/contracts/boilerplate/professional-services-agreement.json
  fixtures/contracts/boilerplate/reseller-agreement.json
  fixtures/contracts/boilerplate/saas-contract-clauses-boilerplate.json
  fixtures/contracts/boilerplate/saas-subscription-agreement-(1).json
  fixtures/contracts/boilerplate/saas-subscription-agreement.json
  fixtures/contracts/boilerplate/sow-template.json
  fixtures/contracts/boilerplate/vendor-agreement.json
  fixtures/contracts/boilerplate/vendor-services-agreement.json
  scripts/convert_docx_to_json.py
Due: pnpm exec prettier --write

feat: Implement premium dark mode design system
  apps/web/app/globals.css
  apps/web/styles/components-dark.css
  apps/web/styles/layout.css
  apps/web/styles/tokens.css
  docs/design/DARK-MODE-IMPLEMENTATION.md
Due: pnpm exec prettier --write

feat: Premium dark mode design system + QA Phase 2-4 tests
  apps/api/tests/integration/test_ai_api.py
  apps/api/tests/integration/test_alerts_api.py
  apps/api/tests/unit/test_alerts_service.py
  apps/api/tests/unit/test_gemini_service.py
  apps/web/e2e/README.md
  apps/web/e2e/alerts-dashboard.spec.ts
  apps/web/e2e/contract-upload.spec.ts
  apps/web/e2e/fixtures/invalid-file.txt
  apps/web/e2e/fixtures/test-dpa.json
  apps/web/e2e/fixtures/test-msa.json
  apps/web/e2e/fixtures/test-sow.json
  apps/web/e2e/negotiation-flow.spec.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  docs/qa/QA-COMPLETE-SUMMARY.md
  docs/qa/QA-PHASE-2-UNIT-TESTS.md
  docs/qa/QA-PHASE-3-INTEGRATION-TESTS.md
  docs/qa/QA-PHASE-4-E2E-TESTS.md
Due: pnpm exec eslint --fix, pnpm exec prettier --write

[Droid-assisted] ✨ Complete Flow AI visual transformation - Alerts page with sliding tabs
  TESTING-FLOW-AI-TRANSFORMATION.md
  apps/web/app/alerts/page-old.tsx.bak
  apps/web/app/alerts/page.tsx
  apps/web/styles/alerts.css
  apps/web/styles/tokens.css
  tmp/html-examples/COMPLETE-TRANSFORMATION-SUMMARY.md
  tmp/html-examples/INDEX.html
  tmp/html-examples/PREVIEW-01-alerts.html
  tmp/html-examples/PREVIEW-02-settings.html
  tmp/html-examples/PREVIEW-03-portfolio.html
  tmp/html-examples/PREVIEW-04-contracts-library.html
  tmp/html-examples/PREVIEW-05-dashboard.html
  tmp/html-examples/PREVIEW-06-chat.html
Due: pnpm exec eslint --fix, pnpm exec prettier --write

[Droid-assisted] ✨ Add Dashboard CSS and prepare for transformation
  apps/web/components/Dashboard-old.tsx.bak
  apps/web/styles/dashboard.css
Due: pnpm exec prettier --write

[Droid-assisted] ✅ AI Failover QA Testing Complete - System is Bulletproof
  QA-AI-FAILOVER-EXECUTION.md
  apps/api/tests/test_multi_ai_orchestrator.py
Due: pnpm exec prettier --write

[Droid-assisted] ✨ Transform Dashboard with Flow AI design - KPI cards with icons
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

[Droid-assisted] 📝 Add comprehensive status documentation
  HONEST-STATUS-REPORT.md
  SESSION-COMPLETION-SUMMARY.md
Due: pnpm exec prettier --write

[Droid-assisted] ✨ COMPLETE - All 6 screens Flow AI transformation done
  apps/web/app/analytics/page.tsx
  apps/web/app/chat/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/app/settings/page.tsx
Due: pnpm exec eslint --fix

[Droid-assisted] 📊 Final completion report - ALL DONE
  FINAL-COMPLETION-REPORT.md
Due: pnpm exec prettier --write

Transform Chat interface with Flow AI design - Hero section, message bubbles, result cards, input toolbar
  apps/web/components/chat/ChatInterface.tsx
  apps/web/styles/chat.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Transform Settings page with Flow AI design - Toggle switches, inputs, selects, section cards
  apps/web/app/settings/page.tsx
  apps/web/styles/settings.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Transform Analytics dashboard with Flow AI design - KPI cards, charts, vendor table, AI insights
  apps/web/app/analytics/page.tsx
  apps/web/styles/analytics.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Transform Contracts Library with Flow AI design - Stats cards, filter bar, contract cards with risk indicators
  apps/web/app/contracts/page.tsx
  apps/web/styles/contracts.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Update Dashboard title to 'Dashboard' and add Flow AI header styling
  apps/web/components/Dashboard.tsx
  apps/web/styles/dashboard.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Complete Dashboard transformation - KPI cards, charts, vendor table, AI insights
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

Add Vercel configuration for monorepo build
  vercel.json
Due: pnpm exec prettier --write

Update Vercel configuration - Use direct pnpm build command for monorepo
  vercel.json
Due: pnpm exec prettier --write

Fix build script to use pnpm instead of npm for monorepo compatibility
  package.json
  vercel.json
Due: pnpm exec prettier --write

Remove problematic ignoreCommand from vercel.json
  vercel.json
Due: pnpm exec prettier --write

Fix Settings page - Add missing state variables for accountSettings, notificationSettings, etc.
  apps/web/app/settings/page.tsx
Due: pnpm exec eslint --fix

Fix Vercel outputDirectory - Remove duplicate apps/web path
  vercel.json
Due: pnpm exec prettier --write

✨ Optimize sidebar UX with enhanced design
  apps/web/components/layout/AppLayout.tsx
  apps/web/styles/layout.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

✨ Optimize Chat screen with professional compact header
  apps/web/components/chat/ChatInterface.tsx
  apps/web/styles/chat-optimized.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Epic 1 Complete: Auth, Session, Profile, RBAC
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/api/auth/signup/route.ts
  apps/web/app/api/user/profile/route.ts
  apps/web/app/layout.tsx
  apps/web/app/login/page.tsx
  apps/web/app/signup/page.tsx
  apps/web/components/auth/RoleGuard.tsx
  apps/web/components/providers/SessionProvider.tsx
  apps/web/lib/auth.ts
  apps/web/lib/prisma.ts
  apps/web/lib/session.ts
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/prisma/schema.prisma
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Epic 2 Complete: Database & Data Layer (21/21 SP)
  apps/web/lib/api-response.ts
  apps/web/lib/db-helpers.ts
  apps/web/package.json
  apps/web/prisma/seed.ts
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Epic 3 Task 3.1 & 3.2: File Upload & Document Parsing (16/21 SP)
  apps/web/app/api/contracts/upload/route.ts
  apps/web/lib/document-parser.ts
  apps/web/lib/file-storage.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write
