Repository Claudio1786/Contract-IQ: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix"],
  "*.{json,md,css,scss,html}": ["pnpm exec prettier --write"]
}

Epic 3 COMPLETE: Contract Upload & Processing (21/21 SP)
  apps/web/app/contracts/page.tsx
  apps/web/components/contracts/UploadModal.tsx
Due: pnpm exec eslint --fix

Epic 4 COMPLETE: AI Analysis Engine (34/34 SP)
  apps/web/app/api/contracts/[id]/analyze/route.ts
  apps/web/app/api/contracts/upload/route.ts
  apps/web/lib/ai-analysis.ts
Due: pnpm exec eslint --fix

Epic 5 COMPLETE: Chat Functionality (13/13 SP)
  apps/web/app/api/chat/route.ts
Due: pnpm exec eslint --fix

Add Comprehensive QA Test Plan
  QA-TEST-PLAN.md
Due: pnpm exec prettier --write

Epic 6: Contract Management CRUD - COMPLETE (13 SP)
  apps/web/app/api/contracts/[id]/route.ts
  apps/web/app/api/contracts/[id]/tags/route.ts
  apps/web/app/contracts/[id]/contract-detail.css
  apps/web/app/contracts/[id]/page.tsx
  apps/web/app/settings/page-old.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Epic 7: Notifications & Alerts - COMPLETE (13 SP) 🎉
  apps/web/app/api/contracts/[id]/analyze/route.ts
  apps/web/app/api/contracts/upload/route.ts
  apps/web/app/api/cron/check-renewals/route.ts
  apps/web/app/api/notifications/[id]/route.ts
  apps/web/app/api/notifications/mark-all-read/route.ts
  apps/web/app/api/notifications/route.ts
  apps/web/docs/AUTHENTICATION-SETUP.md
  apps/web/lib/email-service.ts
  apps/web/lib/notification-service.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Final QA Validation Report - 100% COMPLETE
  FINAL-QA-VALIDATION.md
Due: pnpm exec prettier --write

UX Audit: Standardize all screen headers to match Chat screen 1:1
  UX-AUDIT-REPORT.md
  apps/web/app/analytics/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Add UX Audit completion report - 100% consistency achieved
  UX-COMPLETION-REPORT.md
Due: pnpm exec prettier --write

Add complete branding package: logos, favicon, OG preview, and meta tags
  apps/web/app/layout.tsx
  apps/web/components/layout/AppLayout.tsx
  apps/web/public/GENERATE-OG-IMAGE.md
  apps/web/public/favicon.svg
  apps/web/public/logo-full.svg
  apps/web/public/logo-icon.svg
  apps/web/public/og-preview-template.html
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Add comprehensive branding completion documentation
  apps/web/docs/BRANDING-COMPLETE.md
Due: pnpm exec prettier --write

Implement custom domain: contract-iq.org
  DOMAIN-SETUP.md
  apps/web/app/layout.tsx
  apps/web/lib/email-service.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Add quick domain setup reference guide
  QUICK-DOMAIN-SETUP.md
Due: pnpm exec prettier --write

Add domain implementation completion guide with action steps
  DOMAIN-IMPLEMENTATION-COMPLETE.md
Due: pnpm exec prettier --write

Add comprehensive deployment readiness documentation
  DEPLOYMENT-READY.md
Due: pnpm exec prettier --write

Fix: Add @/ path alias to tsconfig for module resolution
  apps/web/tsconfig.json
Due: pnpm exec prettier --write

Fix: Remove duplicate code in analyze route causing syntax error
  apps/web/app/api/contracts/[id]/analyze/route.ts
Due: pnpm exec eslint --fix

Fix: Add Prisma generate to build and postinstall scripts
  apps/web/package.json
Due: pnpm exec prettier --write

Fix: Downgrade to NextAuth v4.24.7 for stability - Removed next-auth v5 beta - Added next-auth v4.24.7 stable - Reverted imports to next-auth/next - Updated prisma adapter to v1.6.0
  apps/web/app/api/chat/route.ts
  apps/web/app/api/contracts/upload/route.ts
  apps/web/app/api/notifications/mark-all-read/route.ts
  apps/web/app/api/notifications/route.ts
  apps/web/app/api/user/profile/route.ts
  apps/web/app/layout.tsx
  apps/web/components/providers/SessionProvider.tsx
  apps/web/lib/auth.ts
  apps/web/lib/session.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Fix: Add NextAuth v4 packages to package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

Fix: Add root route to protected routes in middleware
  apps/web/middleware.ts
Due: pnpm exec eslint --fix

Fix: Use correct Prisma adapter for NextAuth v4 - Replaced @auth/prisma-adapter with @next-auth/prisma-adapter - Updated imports in auth.ts - Compatible with NextAuth v4.24.7
  apps/web/lib/auth.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Add @next-auth/prisma-adapter to package.json
  apps/web/package.json
Due: pnpm exec prettier --write

Fix: Permanently resolve Prisma and pdf-parse warnings
  apps/web/lib/document-parser.ts
  apps/web/package.json
  apps/web/prisma.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Fix: Update pdf-parse function call to use default export
  apps/web/lib/document-parser.ts
Due: pnpm exec eslint --fix

Revert: Remove prisma.config.ts and restore package.json config
  apps/web/package.json
  apps/web/prisma.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Fix: Use require() for pdf-parse to eliminate ESM import warning
  apps/web/lib/document-parser.ts
Due: pnpm exec eslint --fix

Fix: Remove .default from pdfParse call
  apps/web/lib/document-parser.ts
Due: pnpm exec eslint --fix

docs: Add comprehensive build warnings analysis
  BUILD-WARNINGS-ANALYSIS.md
Due: pnpm exec prettier --write

Fix: Resolve redirect loop by updating root route handling
  apps/web/app/page.tsx
  apps/web/middleware.ts
Due: pnpm exec eslint --fix

Fix: Update all NextAuth imports for v4 compatibility
  apps/web/app/api/chat/route.ts
  apps/web/app/api/contracts/upload/route.ts
  apps/web/app/api/notifications/mark-all-read/route.ts
  apps/web/app/api/notifications/route.ts
  apps/web/app/api/user/profile/route.ts
  apps/web/app/layout.tsx
  apps/web/components/providers/SessionProvider.tsx
  apps/web/lib/session.ts
Due: pnpm exec eslint --fix

Add: Create dashboard page for authenticated users
  apps/web/app/dashboard/page.tsx
Due: pnpm exec eslint --fix

Fix: Server-side redirect eliminates loading loop
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

✨ Add landing page at root / and move dashboard to /app route
  apps/web/app/app/page.tsx
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

🎨 Fix landing page header layout and Home button navigation
  apps/web/app/page.tsx
  apps/web/components/layout/AppLayout.tsx
Due: pnpm exec eslint --fix

🐛 Fix syntax error in landing page - remove duplicate content
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

🎨 Fix landing page header layout - Logo left, button right
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

📚 Add v3.1 Milestone documentation - Complete status and roadmap to v3.5
  V3.1-MILESTONE.md
Due: pnpm exec prettier --write

🎨 Add complete branding system: favicon, OG meta tags, and design system docs
  DESIGN-SYSTEM.md
  OG-IMAGE-GENERATOR.md
  apps/web/app/layout.tsx
  apps/web/public/favicon.svg
Due: pnpm exec eslint --fix, pnpm exec prettier --write
