Repository Claudio1786/Contract-IQ: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix"],
  "*.{json,md,css,scss,html}": ["pnpm exec prettier --write"]
}

📚 Add branding implementation summary document
  BRANDING-IMPLEMENTATION-COMPLETE.md
Due: pnpm exec prettier --write

🎨 Complete v3.1: Add OG preview template and update milestone docs
  OG-PREVIEW-IMAGE.html
  V3.1-MILESTONE.md
Due: pnpm exec prettier --write

Add complete Factory.ai handoff documentation
  BUSINESS-MODEL-PIVOT-SPECS/00-README.md
  BUSINESS-MODEL-PIVOT-SPECS/01-TERMINOLOGY-GLOSSARY.md
  BUSINESS-MODEL-PIVOT-SPECS/02-DATA-SCHEMA.md
  BUSINESS-MODEL-PIVOT-SPECS/03-RISK-SCORING-ALGORITHM.md
  BUSINESS-MODEL-PIVOT-SPECS/HANDOFF-TO-FACTORY.md
  BUSINESS-MODEL-PIVOT-SPECS/README-FOR-FACTORY-AI.md
Due: pnpm exec prettier --write

feat: Add complete demo package with 10 sample contracts and comprehensive guides
  DEMO-PACKAGE/00-MASTER-INDEX.md
  DEMO-PACKAGE/CONTRACT_IQ_BUSINESS_LOGIC_GUIDE.md
  DEMO-PACKAGE/DEMO_PACKAGE_README.md
  DEMO-PACKAGE/DEMO_QUICK_REFERENCE.md
  DEMO-PACKAGE/RevenueSync_Rate_Card_2025.pdf
  DEMO-PACKAGE/SALESFORCE_INTEGRATION_GUIDE.md
  DEMO-PACKAGE/sample-contracts/01_Acme_Corp_Enterprise_Legacy.docx
  DEMO-PACKAGE/sample-contracts/02_TechScale_Enterprise_Current.docx
  DEMO-PACKAGE/sample-contracts/03_GrowthLabs_MidMarket_Standard.docx
  DEMO-PACKAGE/sample-contracts/04_DataStream_MidMarket_CustomSLA.docx
  DEMO-PACKAGE/sample-contracts/05_StartupFast_SMB_Monthly.docx
  DEMO-PACKAGE/sample-contracts/06_QuickBiz_SMB_AnnualPrepaid.docx
  DEMO-PACKAGE/sample-contracts/07_RocketShip_HighGrowth_Aggressive.docx
  DEMO-PACKAGE/sample-contracts/08_GlobalBank_Enterprise_Complex.docx
  DEMO-PACKAGE/sample-contracts/09_FinTech_MidMarket_PricingGap.docx
  DEMO-PACKAGE/sample-contracts/10_LegacySystems_Enterprise_HighRisk.docx
Due: pnpm exec prettier --write

docs: Add comprehensive Factory.ai handoff completion document
  FACTORY-AI-HANDOFF-COMPLETE.md
Due: pnpm exec prettier --write

docs: Add AI extraction prompts and MVP scope specifications
  BUSINESS-MODEL-PIVOT-SPECS/04-AI-EXTRACTION-PROMPTS.md
  BUSINESS-MODEL-PIVOT-SPECS/05-MVP-SCOPE-BETA-CUSTOMERS.md
Due: pnpm exec prettier --write

docs: Add comprehensive Path B technical validation summary
  PATH-B-TECHNICAL-VALIDATION-ANSWERS.md
Due: pnpm exec prettier --write

Add complete beta launch package: recruitment materials, MVP spec, and onboarding docs
  BETA-LAUNCH/00-README-BETA-LAUNCH.md
  BETA-LAUNCH/01-PITCH-EMAILS.md
  BETA-LAUNCH/02-LINKEDIN-OUTREACH.md
  BETA-LAUNCH/03-BETA-PROGRAM-ONE-PAGER.md
  BETA-LAUNCH/04-OBJECTION-HANDLING-SCRIPT.md
  BETA-LAUNCH/05-PRICING-POSITIONING-GUIDE.md
  BETA-LAUNCH/06-MANUAL-MVP-SPEC.md
  BETA-LAUNCH/07-WEEK-BY-WEEK-BUILD-SCHEDULE.md
  BETA-LAUNCH/08-BETA-CUSTOMER-AGREEMENT.md
  BETA-LAUNCH/09-DELIVERABLES-TIMELINE.md
Due: pnpm exec prettier --write

feat: v3.1 - Add complete backend with PostgreSQL + Prisma + Risk Scoring
  apps/web/$env
  apps/web/app/api/contracts/create/route.ts
  apps/web/app/api/contracts/route.ts
  apps/web/app/contracts/[id]/page.tsx
  apps/web/app/contracts/[templateId]/error.tsx
  apps/web/app/contracts/[templateId]/loading.tsx
  apps/web/app/contracts/[templateId]/page.tsx
  apps/web/cd
  apps/web/lib/prisma.ts
  apps/web/next
  apps/web/npx
  apps/web/package.json
  apps/web/pnpm
  apps/web/prisma/schema.prisma
  apps/web/scripts/seed-organization.ts
  apps/web/scripts/test-backend.ts
  apps/web/tsconfig.json
  apps/web/🚀
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

v4.0: Customer Revenue Intelligence - All Screens
  DEPLOY-V4.0-COMMANDS.md
  IMPLEMENTATION-SUMMARY.md
  QUICK-START.md
  SETUP-GUIDE.md
  V4.0-COMPLETE-IMPLEMENTATION.md
  V4.0-QA-REPORT.md
  V4.0-RELEASE-NOTES.md
  apps/web/app/alerts/page.tsx
  apps/web/app/analytics/page.tsx
  apps/web/app/api/contracts/create/route.ts
  apps/web/app/app/admin/contracts/new/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/app/page.tsx
  apps/web/app/playbooks/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/chat/ChatInterface.tsx
  apps/web/components/layout/AppLayout.tsx
  apps/web/components/layout/AppShell.tsx
  apps/web/lib/ai-prompts.ts
  apps/web/lib/openai-client.ts
  apps/web/prisma/schema.prisma
  apps/web/prisma/seed-customer-data.sql
  apps/web/scripts/seed-customers.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

v4.0 Design System: Landing Page Stats + Emoji Navigation
  apps/web/app/page.tsx
  apps/web/components/layout/AppShell.tsx
Due: pnpm exec eslint --fix

fix: Remove duplicate closing brace in contracts page
  apps/web/app/contracts/page.tsx
Due: pnpm exec eslint --fix

fix: Add missing closing tags (fragment, conditional, container)
  apps/web/app/contracts/page.tsx
Due: pnpm exec eslint --fix

fix: Add missing closing div for contract-card
  apps/web/app/contracts/page.tsx
Due: pnpm exec eslint --fix

fix: Remove duplicate corrupted code in AppShell.tsx causing build failure
  apps/web/components/layout/AppShell.tsx
Due: pnpm exec eslint --fix

feat(web): Phase 2/3 — Emoji icons in sidebar and page headers (Dashboard, Chat, Customers, Revenue, Renewals, Settings)
  apps/web/app/alerts/page.tsx
  apps/web/app/analytics/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/components/chat/ChatInterface.tsx
  apps/web/components/layout/AppShell.tsx
Due: pnpm exec eslint --fix

feat(web): landing copy to customer-contracts; neutralize SaaS-specific phrasing (hero, features subtitle, CTA, footer) [Droid]
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

feat(web): dashboard copy to customer model (Active Customers, insights to revenue language) [Droid]
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

feat(web/analytics): adopt revenue language (Expansion Potential, Monthly Revenue Trend, Total Revenue Impact, Forecast Accuracy) [Droid]
  apps/web/components/analytics/AnalyticsCards.tsx
  apps/web/components/analytics/MetricsDashboard.tsx
Due: pnpm exec eslint --fix

feat(web): secondary pages copy updates – EmptyState, Chat suggestions, Playbooks tagline, Upload objective [Droid]
  apps/web/app/playbooks/page-fixed.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/EmptyState.tsx
  apps/web/components/chat/ChatInterface.tsx
Due: pnpm exec eslint --fix

feat(web/playbooks): wording to revenue-friendly terms — Operational Efficiency tiles and generator copy [Droid]
  apps/web/app/playbooks/enhanced/page.tsx
  apps/web/components/playbooks/EnhancedPlaybookGenerator.tsx
Due: pnpm exec eslint --fix

test(web): fix PlaybookGenerator tests and vitest config; stabilize async retry UI [Droid]
  apps/web/__tests__/home.test.tsx
  apps/web/__tests__/playbook-generator.test.tsx
  apps/web/components/playbooks/PlaybookGenerator.tsx
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
Due: pnpm exec eslint --fix

fix(web): P1 UX fixes — remove encoding artifacts, switch to revenue language; add modal a11y (role, aria-modal, focus trap, ESC); replace emoji/icons with inline SVG [Droid]
  apps/web/app/playbooks/page-fixed.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/NotificationsModal.tsx
  apps/web/components/analytics/AnalyticsCards.tsx
  apps/web/components/analytics/MetricsDashboard.tsx
Due: pnpm exec eslint --fix

feat(ui): align Button, Card, Input with design tokens (CSS vars) for colors/borders/focus states [Droid]
  apps/web/components/ui/Button.tsx
  apps/web/components/ui/Card.tsx
  apps/web/components/ui/Input.tsx
Due: pnpm exec eslint --fix

feat(web): Responsive refactor — replace inline styles with Tailwind classes on Alerts and Dashboard [Droid]
  apps/web/app/alerts/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

[Droid] Dashboard: add mobile h1 size 32px to match HTML spec (PREVIEW-05 lines 546-547)
  apps/web/styles/dashboard.css
Due: pnpm exec prettier --write

[Droid] Dashboard: add mobile h1 size 32px to match HTML spec (PREVIEW-05 lines 546-547) (#8)
  apps/web/styles/dashboard.css
Due: pnpm exec prettier --write

UX Audit: Priority 1 complete + Priority 2 (tokens, CSS fix, analytics naming) [Droid] (#7)
  apps/web/app/alerts/page.tsx
  apps/web/app/playbooks/page-fixed.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/NotificationsModal.tsx
  apps/web/components/analytics/AnalyticsCards.tsx
  apps/web/components/analytics/MetricsDashboard.tsx
  apps/web/components/ui/Button.tsx
  apps/web/components/ui/Card.tsx
  apps/web/components/ui/Input.tsx
Due: pnpm exec eslint --fix

[Droid] Batch 1: Landing copy 'B2B SaaS'→'B2B Companies'; Contracts page: API fallback to demo data + fix playbook handler
  apps/web/app/contracts/page.tsx
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

[Droid] Batch 1: Landing copy 'B2B SaaS'→'B2B Companies'; Contracts page: API fallback to demo data + fix playbook handler (#9)
  apps/web/app/contracts/page.tsx
  apps/web/app/page.tsx
Due: pnpm exec eslint --fix

[Droid] Batch 2: Unified PageHeader component + apply to Dashboard, Settings, Analytics, Alerts, Contracts; add page-header.css and import globally
  apps/web/app/alerts/page.tsx
  apps/web/app/analytics/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/app/globals.css
  apps/web/app/settings/page.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/ui/PageHeader.tsx
  apps/web/styles/page-header.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

[Droid] Phase 1A: contracts styling parity, header title update, and header actions (Generate Brief + Add Contract)
  apps/web/app/contracts/page.tsx
Due: pnpm exec eslint --fix

[Droid] PageHeader: add color variants and enhanced styles; re-import page-header.css in globals
  apps/web/app/globals.css
  apps/web/components/ui/PageHeader.tsx
  apps/web/styles/page-header.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

[Droid] Refactor pages to use unified PageHeader with color variants (Dashboard, Analytics, Alerts, Settings, Contracts)
  apps/web/app/alerts/page.tsx
  apps/web/app/analytics/page.tsx
  apps/web/app/contracts/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/Dashboard.tsx
Due: pnpm exec eslint --fix

[Droid] PageHeader: gradient title via CSS var; set --header-accent-color per color map
  apps/web/components/ui/PageHeader.tsx
  apps/web/styles/page-header.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

[Droid] Add Contract Templates & Examples to manual entry form: 6 templates, click-to-populate, responsive styles
  apps/web/app/app/admin/contracts/new/page.tsx
  apps/web/styles/contracts.css
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(alerts): Update header to 40px font with gradient text effect
  apps/web/app/alerts/page.tsx
Due: pnpm exec eslint --fix

feat(analytics): Add icon container and gradient header
  apps/web/app/analytics/page.tsx
Due: pnpm exec eslint --fix

feat(negotiations): Add icon container and gradient header
  apps/web/app/negotiations/page.tsx
Due: pnpm exec eslint --fix

feat(contracts): Add gradient header with green icon and enhance dark theme
  apps/web/app/contracts/page.tsx
Due: pnpm exec eslint --fix
